           <h3 class="ml-5">products</h3>
        <div *ngFor="let product of products; index as productId" class="ml-5">
                <h5> 
                <a class="text-primary" [title]="product.name + 'detail'" [routerLink]="['/products',productId]">
                        {{product.name}}
                
                </a>
                </h5>
                <p *ngIf="product.description">
                        Description: {{product.description}}
                </p>
                <button (click)="share()" class="btn btn-primary text-light">share</button>
                <app-product-alert
                 [product] = "product"
                 (notify)="onNotify()">
                </app-product-alert>
            </div>
            
            